<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>
  
  <!-- gazebo material-->
  <xacro:include filename="$(find ur_description)/urdf/ur5.gazebo" />
  <xacro:include filename="$(find ur_description)/urdf/materials.xacro" />

  <!-- param-->
  <xacro:property name="width" value="0.1" /> <!-- Square dimensions (widthxwidth) of beams -->
  <xacro:property name="height1" value="0.9" /> <!-- Link 1       <material name="orange"/> -->

  <link name="world" />

  <!--joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint-->
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "link1" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
  <link name="link1">
    <collision>
      <origin xyz="0.0 0.0 0.45" rpy="0 0 0"/>
      <geometry>
	<box size="0.1 0.1 0.9"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="-0.6 -0.6 0.0" rpy="0 0 0"/>
      <geometry>
	<mesh filename="package://ur_description/meshes/ur5/visual/column.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>

    <inertial>
      <origin xyz="-0.6 -0.6 0.0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
	  ixx="1.0" ixy="0.0" ixz="0.0"
	  iyy="1.0" iyz="0.0"
	  izz="1.0"/>
    </inertial>
  </link>

  <joint name="link1_joint" type="fixed">
    <parent link="link1" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 ${height1}" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
